.container{
    margin: 0 auto;
    width: 70%;
}
.menu{
    float: right;
}
header{
    height: 740px;
    background-image:url(./img/Rectangle.png) ;
    padding-top: 1.5rem;
}
.header__content{
    text-align: center;
    color: #FFFFFF;
    font-family: 'Oswald', sans-serif;
}